<article class="rental" ...attributes>
  <Artwork::Image
    src={{@artwork.imageUrl}}
    alt="A picture of {{@artwork.title}}"
  />
  <div class="details">
    <h3>{{@artwork.title}}</h3>
    <div class="detail owner">
      <span>Artist:</span>
      {{@artist.name}}
    </div>
    <div class="detail type">
      <span>Art Form:</span>
      {{@artwork.artForm}}
    </div>
    <div class="detail location">
      <span>Description:</span>
      {{@artwork.description}}
    </div>
  </div>
</article>