<h2 class="form-title">Log In to Enter Your Art Space</h2>

{{#if this.isAuthenticating}}
  <section class="status-bar"><span>Verifying credentials</span></section>
{{/if}}
{{#if this.errorMessage}}
  <section class="status-bar"><span>{{this.errorMessage}}</span></section>
{{/if}}

<form {{on "submit" this.login}}>
  <div class="rentals">
    <label for="mu-login-username">Username</label>
    <Input
      id="mu-login-username"
      @value={{this.nickname}}
      placeholder={{@placeholder}}
    />
  </div>
  <div class="rentals">
    <label for="mu-login-password">Password</label>
    <Input id="mu-login-password" @value={{this.password}} @type="password" />
  </div>
  {{#if this.isAuthenticating}}
    <button type="submit" disabled={{true}} class="button">
      {{this.label}}
    </button>
  {{else}}
    <button type="submit" class="button">
      {{this.label}}
    </button>
  {{/if}}
</form>