{{#if this.statusMessage}}
  <section class="status-bar"><span>{{this.statusMessage}}</span></section>
{{/if}}

<h2 class="form-title">Change Your Password</h2>
<form {{on "submit" this.changePassword}}>
  <div class="rentals">
    <label for="old-password">Old Password</label>
    <Input @value={{this.oldPassword}} @type="password" id="old-password" />
    {{#if this.oldPasswordError}}
      <span>{{this.oldPasswordError}}</span>
    {{/if}}
  </div>
  <div class="rentals">
    <label for="new-password">New password</label>
    <Input @value={{this.password}} @type="password" id="new-password" />
    {{#if this.passwordError}}
      <span>{{this.passwordError}}</span>
    {{/if}}
  </div>
  <div class="rentals">
    <label for="new-password-confirmation">Confirm new password</label>
    <Input
      @value={{this.passwordConfirmation}}
      @type="password"
      id="new-password-confirmation"
    />
    {{#if this.passwordConfirmationError}}
      <span>{{this.passwordConfirmationError}}</span>
    {{/if}}
  </div>
  <button type="submit" class="button">Change password</button>
</form>