{{#if this.statusMessage}}
  <section class="status-bar"><span>{{this.statusMessage}}</span></section>
{{/if}}

<button
  {{on "click" this.unregister}}
  class="button unregister-button"
>Unregister</button>

<h2 class="form-title">Change Your Password</h2>

<form {{on "submit" this.changePassword}}>
  <div class="rentals">
    <label for="old-password">Old Password</label>
    <Input @value={{this.oldPassword}} @type="password" id="old-password" />
    {{#if this.oldPasswordError}}
      <span>{{this.oldPasswordError}}</span>
    {{/if}}
  </div>
  <div class="rentals">
    <label for="new-password">New password</label>
    <Input @value={{this.newPassword}} @type="password" id="new-password" />
    {{#if this.newPasswordError}}
      <span>{{this.newPasswordError}}</span>
    {{/if}}
  </div>
  <div class="rentals">
    <label for="new-password-confirmation">Confirm new password</label>
    <Input
      @value={{this.newPasswordConfirmation}}
      @type="password"
      id="new-password-confirmation"
    />
    {{#if this.newPasswordConfirmationError}}
      <span>{{this.newPasswordConfirmationError}}</span>
    {{/if}}
  </div>
  <button type="submit" class="button">Change password</button>
</form>